<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cGr8s</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index_style.css') }}">
</head>
<body>
    <header id="header">
        <div class="container header-content">
            <div class="logo">
                <h1>cGr8s</h1>
            </div>
            <nav>
                <ul id="nav-list">
                    <li><a href="{{ url_for('front_page') }}">Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
                <div id="hamburger-menu" class="hamburger-menu">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </nav>
        </div>
    </header>
    <main>
        <section class="hero">
            <div class="container">
                <!-- <h1>cGr8s</h1> -->
                <div class="buttons">
                    <a href="{{ url_for('login') }}" class="btn login">Login</a>
                </div>
            </div>
        </section>
        <section class="services">
            <div class="container">
                <h2>Our Services</h2>
                <div class="service-cards">
                    <div class="card">
                        <h3>Topic 1</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                    <div class="card">
                        <h3>Topic 2</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                    <div class="card">
                        <h3>Topic 3</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="container">
            <p>&copy; 2024 cGr8s. All Rights Reserved.</p>
        </div>
    </footer>
    <script src="{{ url_for('static', filename='index_script.js') }}"></script>
</body>
</html>
