<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container" id="signup">
        <h1 class="form-title">Register</h1>
        <form action="/register" method="post">
            <div class="input-group">
                <i class="fas fa-user"></i>
                <input type="text" name="fullName" id="fullName" placeholder="Full Name" required>
                <label for="fullName">Full Name</label>
            </div>
            <div class="input-group">
                <i class="fa fa-calendar" aria-hidden="true"></i>
                <input type="date" name="date" id="date" placeholder="Date of Birth" required>
                <label for="date">Date of Birth</label>
            </div>
            <div class="input-group">
                <i class="fas fa-lock"></i>
                <input type="password" name="password" id="password" placeholder="Password" required>
                <label for="password">Password</label>
            </div>
            <div class="input-group">
                <i class="fas fa-envelope"></i>
                <input type="email" name="email" id="email" placeholder="Email" required>
                <label for="email">Email</label>
            </div>
            <div class="input-group">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <input type="contactNo" name="contactNo" id="contactNo" placeholder="Contact No" required>
                <label for="contactNo">Contact No</label>
            </div>
            <div class="input-group">
                <i class="fa fa-globe" aria-hidden="true"></i>
                <input type="location" name="location" id="location" placeholder="Location" required>
                <label for="location">Location</label>
            </div>
            <div class="input-group">
                <i class="fa fa-id-card" aria-hidden="true"></i>
                <input type="govtId" name="govtId" id="govtId" placeholder="Government Id" required>
                <label for="govtId">Government Id</label>
            </div>
            <input type="submit" class="btn" value="Sign Up" name="signUp">
        </form>
        <p class="or">or</p>
        <div class="icons">
            <i class="fab fa-google"></i>
            <i class="fab fa-facebook"></i>
        </div>
        <div class="links">
            <p>Already Have Account ?</p>
            <a href="{{ url_for('login') }}" class="btn">Sign In</a>
        </div>
    </div>
</body>
</html>
